<!-- This is a Razor View file (.cshtml) that allows us to use C# code with html code using the at symbol -->

<!-- This represents the data model that we will eventually pass to our view stored in variable "at model" -->
@model IEnumerable<InventoryItems>


<!-- The following html code maps out our main inventory items page (index.cshtml). It contains a page header (<h2>)
     followed by a table with a row (<tr>) of table headers (<th>) representing the class properties of our inventory
     items model. Then we use a foreach loop to create rows for each inventory item
-->
<h2>Inventory Items</h2>
<table class="table table-bordered table-striped table-sm table-hover">
    <tr>
        <th>Inventory ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory Type</th>
        <th>Amount On Hand</th>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.InventoryID</td>
            <td><a href=/InventoryItems/ViewInventoryItem/@item.InventoryID>@item.Name</a></td> <!--embeds link to ViewInventoryItem in Name-->
            <td>$@item.Price</td>
            <td>@item.Inventory_TypeID</td>
            <td>@item.AmtOnHand</td>
        </tr>
    }

</table>
